<div id="<%= dom_id price_log %>">
  <p>
    <strong>Product:</strong>
    <%= price_log.product_id_id %>
  </p>

  <p>
    <strong>Old price:</strong>
    <%= price_log.old_price %>
  </p>

  <p>
    <strong>New price:</strong>
    <%= price_log.new_price %>
  </p>

  <p>
    <strong>Changed at:</strong>
    <%= price_log.changed_at %>
  </p>

</div>
